body {
  margin: 0;
}
header .header-icon {
  display: flex;
  justify-content: space-between;
}
header .header-icon .header-left-icon,
header .header-icon .header-rigth-icon {
  display: flex;
  align-items: center;
}
.menu-bar {
  display: flex;
  justify-content: center;
}
.menu-img {
  display: flex;
  height: 489px;
}
.menu-img .menu-img-left {
  width: auto;
  flex: 2;
}
.menu-img .menu-img-left img {
  height: 489px;
  width: 100%;
}
.menu-img .menu-img-right {
  flex: 1;
  width: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.section1 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.section1 .section1-content {
  display: flex;
  flex-direction: column;
}
.section1 .section1-title {
  display: flex;
  align-items: center;
}
.section1 .section1-title:before {
  width: 7em;
  border-top: 2px solid;
  content: '';
  margin-left: 10px;
  margin-right: 10px;
}
.section1 .section-left {
  text-align: center;
}
.section1 .section-left h2 {
  font-size: 24px;
  letter-spacing: 24px;
  font-size: 32px;
}
.section1 .section-left h2 span {
  font-weight: bold;
  font-size: 50px;
  color: #aaabac;
}
.section1 .section-left .btn {
  text-align: center;
  margin: auto 0;
  border: 1px solid #ff1493;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px 0px 0 #3cc2eb;
  margin-top: 30px;
}
.section1 .section1-img {
  margin-left: 50px;
}
.section2 {
  margin-top: 80px;
}
.section2 .section2-content {
  display: flex;
}
.section2 .section2-content .section2-content-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.section2 .section2-content .section2-content-left .section2-title {
  display: flex;
  align-items: center;
}
.section2 .section2-content .section2-content-left .section2-title:before {
  width: 7em;
  border-top: 2px solid;
  content: '';
  margin-left: 10px;
  margin-right: 10px;
}
.section2 .section2-content .section2-content-left .section2-subtitle {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}
.section2 .section2-content .section2-content-left .section2-subtitle .news-menu {
  display: flex;
}
.section2 .section2-content .section2-content-left .section2-subtitle .news-menu .btn {
  text-align: center;
  margin: auto 0;
  border: 1px solid #ff1493;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px 0px 0 #3cc2eb;
  margin-top: 30px;
}
.section2 .section2-content .section2-content-left .section2-subtitle .news-menu .section2-btn {
  margin: 0;
  font-size: 24px;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
}
.section2 .section2-content .section2-content-left .section2-subtitle .news-menu ul {
  margin: 0;
  padding-left: 10px;
}
.section2 .section2-content .section2-content-left .section2-subtitle .news-menu ul li {
  list-style: none;
  font-size: 18px;
  border-bottom: 1px solid #888;
  padding: 10px;
}
.section2 .section2-content .section2-content-box {
  flex: 2;
  height: 500px;
  overflow-y: scroll;
  scrollbar-color: #639 #008000;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;
  margin-left: 15px;
}
.section2 .section2-content .section2-content-box .mews-box {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.section2 .section2-content .section2-content-box .mews-box .topic {
  height: 64px;
  margin-top: 20px;
  display: flex;
  widows: 367px;
}
.section2 .section2-content .section2-content-box .mews-box .topic .section2-img {
  width: 120px;
  height: 60px;
  outline: 1px solid #000;
  display: flex;
  background-color: #000;
}
.section2 .section2-content .section2-content-box .mews-box .topic h3,
.section2 .section2-content .section2-content-box .mews-box .topic p,
.section2 .section2-content .section2-content-box .mews-box .topic i {
  font-size: 5px;
  margin: 0;
  margin-left: 10px;
}
.section2 .section2-content .section2-content-box .mews-box .topic h3 {
  width: 200px;
}
.section2 .section2-content .section2-content-box .mews-box .topic i {
  color: #ffc0cb;
}
.section3 {
  margin-top: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}
.section3 .section3-title {
  display: flex;
  align-items: center;
}
.section3 .section3-title:before {
  width: 7em;
  border-top: 2px solid;
  content: '';
  margin-left: 10px;
  margin-right: 10px;
}
.section3 .section3-content {
  justify-content: center;
}
.section3 .section3-content .section3-subtitle span {
  padding-left: 60px;
}
.section3 .section3-content .section3-content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section3 .section3-content .section3-content-box .pick-box {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
  box-shadow: 2px 2px 4px #808080;
  width: 374px;
  height: 120px;
  align-items: center;
}
.section3 .section3-content .section3-content-box .pick-box img {
  width: 120px;
  height: 120px;
}
.section3 .section3-content .section3-content-box .pick-box p {
  width: 200;
  margin-left: 15px;
}
.section3 .section3-content .section3-content-box .logo {
  box-shadow: 5px 5px 0px 0 #f0f;
}
.section3 .section3-content .section3-btn {
  text-align: center;
  margin: auto 0;
  border: 1px solid #ff1493;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px 0px 0 #3cc2eb;
  margin-top: 30px;
  width: 324px;
  height: 60px;
  margin-left: 0;
}
.section4 {
  margin-top: 100px;
  justify-content: center;
}
.section4 .section4-title {
  display: flex;
  align-items: center;
}
.section4 .section4-title:before {
  width: 7em;
  border-top: 2px solid;
  content: '';
  margin-left: 10px;
  margin-right: 10px;
}
.section4 .cliant-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.section4 .cliant-logo img {
  width: 200px;
  height: 60px;
  margin-right: 48px;
  margin-top: 10px;
}
aside {
  margin-top: 50px;
  display: flex;
}
aside .aside-subtitle {
  flex: 1;
  display: flex;
  justify-content: center;
}
aside .aside-subtitle h2 {
  margin: 0;
}
aside .conpany-detile {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 10px;
}
aside .conpany-detile p {
  margin: 0;
}
aside .aside-icon {
  display: flex;
  flex: 1;
  flex-direction: column;
}
aside .aside-icon i {
  display: flex;
  margin: 0;
  color: #ffc0cb;
}
aside .aside-icon i p {
  margin-left: 20px;
  color: #000;
  font-size: 15px;
}
footer {
  color: #fff;
  display: flex;
  background-color: #808080;
  text-align: center;
  align-items: center;
}
footer p {
  flex: 1;
}
footer .footer-icon {
  flex: 1;
}
footer nav {
  flex: 3;
}
footer ul {
  display: flex;
}
footer li {
  list-style: none;
  flex: 1;
}
@media screen and (max-width: 800px) {
  body {
    width: 375px;
    overflow-x: hidden;
    margin: 0 auto;
  }
  header .header-rigth-icon i {
    display: none;
  }
  .menu-bar {
    display: none;
  }
  .menu-img {
    height: 300px;
  }
  .menu-img .menu-img-left img {
    width: 100%;
    height: 300px;
  }
  .menu-img .menu-img-right {
    display: none;
  }
  .menu-img .menu-img-right img {
    display: none;
  }
  .section1 {
    display: block;
  }
  .section1 .section1-img {
    margin: 0;
    margin-top: 20px;
  }
  .section1 .section1-img img {
    width: 100%;
  }
  .section2 .section2-content {
    display: block;
  }
  .section2 .section2-content .news-menu .section2-btn {
    writing-mode: block;
  }
  .section2 .section2-content .news-menu ul {
    display: none;
  }
  .section2 .section2-content .section2-content-box {
    margin: 0;
  }
  .section3 .section3-content {
    width: 350px;
  }
  .section3 .section3-content-box .pick-box {
    width: 347px;
    margin: 0;
    padding: 0;
  }
  .section4 .section4-subtitle .cliant-logo {
    padding-left: 10px;
  }
  .section4 .section4-subtitle .cliant-logo img {
    width: 100px;
    margin-right: 10px;
    margin-top: 10px;
  }
  aside {
    display: block;
    justify-content: center;
  }
  aside .conpany-detile p {
    text-align: center;
  }
  aside .aside-icon i {
    justify-content: center;
  }
  footer {
    flex-direction: column-reverse;
  }
  footer ul {
    display: block;
  }
}
