body {
  margin: 0;
}
header {
  height: 100px;
  margin: auto 0;
}
.header-icon {
  margin: auto 0;
  display: flex;
}
.header-icon p {
  text-align: center;
  flex: 3;
}
.rigth-icon,
i {
  margin: auto 10px;
  align-items: center;
}
.menu-bar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bar a {
  padding-left: 20px;
}
.menu-img {
  width: 100%;
  height: 500px;
  outline: 1px solid;
}
.section1 {
  margin-top: 20px;
  height: 560px;
  padding: 50px;
}
.section-title {
  display: flex;
  align-items: center;
}
.section-title:before {
  width: 7em;
  border-top: 2px solid;
  content: "";
  margin-left: 10px;
  margin-right: 10px;
}
.section1-content {
  display: flex;
}
.section-left {
  flex: 1;
}
.section-left h2 {
  height: 200px;
  font-size: 24px;
  letter-spacing: 24px;
  line-height: 70px;
  font-style: none;
}
.section-left h2 span {
  text-align: right;
}
.section-left p {
  text-align: center;
}
.section-left .section1-btn {
  height: 40px;
  width: 250px;
}
.section-left .section1-btn p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  text-align: center;
  margin: auto 0;
  border: 1px solid #ff1493;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px 0px 0 #3cc2eb;
  margin-top: 30px;
}
.section1-img {
  flex: 3;
  width: auto;
  height: 500px;
}
.section2 {
  height: 460px;
}
.section2-content {
  display: flex;
}
.section2-subtitle {
  margin: 0;
  flex: 1;
}
.news-menu {
  display: flex;
  height: 250px;
}
.news-menu .section2-btn {
  width: 50px;
  font-size: 24px;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.news-menu ul {
  margin-top: 0;
  height: 250px;
}
.news-menu li {
  list-style: none;
  font-size: 18px;
  border-bottom: 2px solid;
  padding: 10px;
}
.section2-content-box {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.mews-box {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.topic {
  height: 80px;
  margin-top: 20px;
  display: flex;
}
.topic .section2-img {
  width: 120px;
  height: 80px;
  outline: 1px solid;
  display: flex;
}
.topic h3,
.topic p,
.topic i {
  margin: 0;
  margin-left: 10px;
}
.topic i {
  color: #ffc0cb;
}
.section3 {
  margin-top: 50px;
  height: 500px;
  padding: 0 20px;
}
.section3 .section3-subtitle span {
  padding-left: 60px;
}
.section3 .section3-content {
  display: flex;
  flex-wrap: wrap;
}
.section3 .section3-content .pick-box {
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
  box-shadow: 2px 2px 4px #808080;
  width: 374px;
  height: 120px;
  align-items: center;
}
.section3 .section3-content .pick-box .img {
  width: 120px;
  height: 120px;
  outline: 1px solid;
  background-color: #000;
}
.section3 .section3-content .pick-box p {
  width: 200;
  margin-left: 15px;
}
.section3 .section3-btn {
  width: 324px;
  height: 60px;
  margin-left: 0;
}
.section4 {
  height: 1200px;
}
.section4 .cliant-logo {
  display: flex;
  flex-wrap: wrap;
}
.section4 .cliant-logo img {
  width: 160px;
  height: 80px;
  outline: 1px solid;
  margin-left: 15px;
  margin-top: 10px;
}
aside {
  margin-top: 50px;
  display: flex;
  height: 200px;
}
aside .aside-subtitle {
  flex: 1;
  display: flex;
  justify-content: center;
}
aside .aside-subtitle h2 {
  margin: 0;
}
aside .conpany-detile {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 10px;
}
aside .conpany-detile h2 {
  margin: 0;
}
aside .aside-icon {
  display: flex;
  flex: 1;
  flex-direction: column;
}
aside .aside-icon i {
  display: flex;
  margin: 0;
}
aside .aside-icon i p {
  font-size: 12px;
}
footer {
  height: 100px;
  display: flex;
  background-color: #808080;
  text-align: center;
  align-items: center;
}
footer p {
  flex: 1;
}
footer .footer-icon {
  flex: 1;
}
footer nav {
  flex: 3;
}
footer ul {
  display: flex;
}
footer li {
  list-style: none;
  flex: 1;
}
