body {
  margin: 0;
  width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}
header {
  height: 100px;
  margin: auto 0;
}
.header-icon {
  margin: auto 0;
  display: flex;
}
.header-icon p {
  text-align: center;
  flex: 3;
}
.rigth-icon,
i {
  margin: auto 10px;
  align-items: center;
}
.menu-bar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bar nav a {
  padding-left: 20px;
  text-decoration: none;
}
.menu-img {
  display: flex;
  width: 1280px;
}
.menu-img .menu-img-side img {
  height: 489px;
  outline: 1px solid;
  width: 920px;
}
.menu-img .section1-sideimg {
  display: flex;
  height: 489px;
  width: 360px;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-color: #639 #008000;
  scrollbar-width: thin;
}
.section1 {
  margin-top: 20px;
  height: 560px;
  padding: 50px;
}
.section-title {
  display: flex;
  align-items: center;
}
.section-title:before {
  width: 7em;
  border-top: 2px solid;
  content: '';
  margin-left: 10px;
  margin-right: 10px;
}
.section1-content {
  display: flex;
}
.section-left {
  text-align: center;
  width: 324px;
  height: 399px;
}
.section-left h2 {
  font-size: 24px;
  letter-spacing: 24px;
  font-size: 32px;
}
.section-left .left.rigth {
  font-size: 24px;
  letter-spacing: 24px;
  line-height: 2;
  font-size: 32px;
}
.section-left p {
  text-align: center;
}
.section-left .section1-btn {
  height: 40px;
  width: 250px;
}
.section-left .section1-btn p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  text-align: center;
  margin: auto 0;
  border: 1px solid #ff1493;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px 0px 0 #3cc2eb;
  margin-top: 30px;
}
.section1-img img {
  flex: 1;
  width: auto;
  height: 500px;
  width: 100%;
}
.section2 {
  height: 460px;
}
.section2-title {
  align-items: center;
  flex-direction: column;
}
.section2-title p {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: nomal;
}
.section2-title p:before {
  width: 7em;
  border-top: 2px solid;
  content: '';
  margin-left: 10px;
  margin-right: 10px;
}
.section2-content {
  display: flex;
}
.section2-subtitle {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}
.news-menu {
  display: flex;
  height: 320px;
}
.news-menu .section2-btn {
  height: 273px;
  width: 50px;
  font-size: 24px;
  writing-mode: vertical-rl;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.news-menu ul {
  margin: 0;
  height: 273px;
  width: 360px;
  padding-left: 10px;
}
.news-menu li {
  list-style: none;
  width: 300px;
  font-size: 18px;
  border-bottom: 1px solid #888;
  padding: 10px;
}
.news-menu .top {
  border-bottom: 2px solid #ff4f02;
}
.section2-content-box {
  width: 760px;
  height: 451px;
  overflow-y: scroll;
  scrollbar-color: #639 #008000;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;
  margin-left: 15px;
}
.mews-box {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.topic {
  height: 80px;
  margin-top: 20px;
  display: flex;
  widows: 367px;
}
.topic .section2-img {
  width: 120px;
  height: 60px;
  outline: 1px solid;
  display: flex;
}
.topic h3,
.topic p,
.topic i {
  font-size: 5px;
  margin: 0;
  margin-left: 10px;
}
.topic h3 {
  width: 200px;
}
.topic i {
  color: #ffc0cb;
}
.section3 {
  margin-top: 100px;
  height: 500px;
  padding: 0 20px;
}
.section3 .section3-subtitle span {
  padding-left: 60px;
}
.section3 .section3-content {
  display: flex;
  flex-wrap: wrap;
}
.section3 .section3-content .pick-box {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
  box-shadow: 2px 2px 4px #808080;
  width: 374px;
  height: 120px;
  align-items: center;
}
.section3 .section3-content .pick-box img {
  width: 120px;
  height: 120px;
}
.section3 .section3-content .pick-box p {
  width: 200;
  margin-left: 15px;
}
.section3 .section3-content .logo {
  box-shadow: 5px 5px 0px 0 #f0f;
}
.section3 .section3-btn {
  width: 324px;
  height: 60px;
  margin-left: 0;
}
.section4 {
  margin-top: 100px;
  height: 1200px;
}
.section4 .cliant-logo {
  height: 900px;
}
.section4 .cliant-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.section4 .cliant-logo img {
  width: 200px;
  height: 60px;
  margin-right: 48px;
  margin-top: 10px;
}
aside {
  margin-top: 50px;
  display: flex;
  height: 200px;
}
aside .aside-subtitle {
  flex: 1;
  display: flex;
  justify-content: center;
}
aside .aside-subtitle h2 {
  margin: 0;
}
aside .conpany-detile {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 10px;
}
aside .conpany-detile p {
  margin: 0;
}
aside .aside-icon {
  display: flex;
  flex: 1;
  flex-direction: column;
}
aside .aside-icon i {
  display: flex;
  margin: 0;
  color: #ffc0cb;
}
aside .aside-icon i p {
  margin-left: 20px;
  color: #000;
  font-size: 15px;
}
footer {
  color: #fff;
  height: 100px;
  display: flex;
  background-color: #808080;
  text-align: center;
  align-items: center;
}
footer p {
  flex: 1;
}
footer .footer-icon {
  flex: 1;
}
footer nav {
  flex: 3;
}
footer ul {
  display: flex;
}
footer li {
  list-style: none;
  flex: 1;
}
@media screen and (max-width: 380px) {
  body {
    overflow: hidden;
    margin: 0;
    width: 380px;
  }
  header {
    height: 71px;
  }
  .rigth-icon {
    display: none;
  }
  .menu-bar {
    display: none;
  }
  .menu-img,
  .section-left {
    margin: 0 auto;
  }
  .menu-img .menu-img-side img {
    width: 375px;
    height: 375px;
  }
  .menu-img .section1-sideimg {
    display: none;
  }
  .menu-img .section1-sideimg img {
    display: none;
  }
  .section1-content {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  aside {
    display: block;
    margin: 0 auto;
  }
}
