
position-center(x = none) {
    display: flex;
    justify-content: x;
}

section-title() {
    display: flex;
    align-items: center;

    &:before {
        width: 7em;
        border-top: 2px solid;
        content: '';
        margin-left: 10px;
        margin-right: 10px;
    }
}

btn() {
    text-align: center;
    margin: auto 0;
    border: 1px solid deeppink;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    box-shadow: 5px 5px 0px 0 rgb(60, 194, 235);
    margin-top: 30px;
}

body {
    margin: 0;
}

header {
    height;

    .header-icon {
        display: flex;
        justify-content: space-between;

        .header-left-icon, .header-rigth-icon {
            display: flex;
            align-items: center;
        }
    }
}

.menu-bar {
    position-center(center);
}

.menu-img {
    display: flex;
    height: 489px;

    .menu-img-left {
        width: auto;
        flex: 2;

        img {
            height: 489px;
            width: 100%;
        }
    }

    .menu-img-right {
        flex: 1;
        width: auto;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
}

.section1 {
    position-center(center);
    margin-top: 80px;

    .section1-content {
        display: flex;
        flex-direction: column;
    }

    .section1-title {
        section-title();
    }

    .section-left {
        text-align: center;

        h2 {
            font-size: 24px;
            letter-spacing: 24px;
            font-size: 32px;

            span {
                font-weight: bold;
                font-size: 50px;
                color: #AAABAC;
            }
        }

        .btn {
            btn();
        }
    }

    .section1-img {
        margin-left: 50px;
    }
}

.section2 {
    margin-top: 80px;

    .section2-content {
        display: flex;

        .section2-content-left {
            display: flex;
            flex-direction: column;
            flex: 1;

            .section2-title {
                section-title();
            }

            .section2-subtitle {
                display: flex;
                flex-direction: column;
                margin: 0;
                flex: 1;

                .news-menu {
                    display: flex;

                    .btn {
                        btn();
                    }

                    .section2-btn {
                        margin: 0;
                        font-size: 24px;
                        writing-mode: vertical-rl;
                        align-items: center;
                        justify-content: center;
                    }

                    ul {
                        margin: 0;
                        padding-left: 10px;

                        li {
                            list-style: none;
                            font-size: 18px;
                            border-bottom: 1px solid #888888;
                            padding: 10px;
                        }
                    }
                }
            }
        }

        .section2-content-box {
            flex: 2;
            height: 500px;
            overflow-y: scroll;
            scrollbar-color: rebeccapurple green;
            scrollbar-width: thin;
            display: flex;
            flex-direction: column;
            background-color: #EEEEEE;
            padding: 10px;
            margin-left: 15px;

            .mews-box {
                display: flex;
                flex-direction: row;
                margin: 0;

                .topic {
                    height: 64px;
                    margin-top: 20px;
                    display: flex;

                    .section2-img {
                        width: 120px;
                        height: 60px;
                        outline: 1px solid black;
                        display: flex;
                        background-color: black;
                    }

                    h3, p, i {
                        font-size: 5px;
                        margin: 0;
                        margin-left: 10px;
                    }

                    h3 {
                        width: 200px;
                    }

                    p;
                    widows: 367px;

                    i {
                        color: pink;
                    }
                }
            }
        }
    }
}

.section3 {
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: center;

    .section3-title {
        section-title();
    }

    .section3-content {
        justify-content: center;

        .section3-subtitle {
            span {
                padding-left: 60px;
            }
        }

        .section3-content-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .pick-box {
                display: flex;
                margin-top: 30px;
                margin-left: 15px;
                box-shadow: 2px 2px 4px gray;
                width: 374px;
                height: 120px;
                align-items: center;

                img {
                    width: 120px;
                    height: 120px;
                }

                p {
                    width: 200;
                    margin-left: 15px;
                }
            }

            .logo {
                box-shadow: 5px 5px 0px 0 rgb(255, 0, 255);
            }
        }

        .section3-btn {
            btn();
            width: 324px;
            height: 60px;
            margin-left: 0;
        }
    }
}

.section4 {
    margin-top: 100px;
    justify-content: center;

    .section4-title {
        section-title();
    }

    .cliant-logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;

        img {
            width: 200px;
            height: 60px;
            margin-right: 48px;
            margin-top: 10px;
        }
    }
}

aside {
    margin-top: 50px;
    display: flex;

    .aside-subtitle {
        flex: 1;
        display: flex;
        justify-content: center;

        h2 {
            margin: 0;
        }
    }

    .conpany-detile {
        display: flex;
        flex: 1;
        flex-direction: column;
        font-size: 10px;

        p {
            margin: 0;
        }
    }

    .aside-icon {
        display: flex;
        flex: 1;
        flex-direction: column;

        i {
            display: flex;
            margin: 0;
            color: pink;

            p {
                margin-left: 20px;
                color: #000000;
                font-size: 15px;
            }
        }
    }
}

footer {
    color: white;
    display: flex;
    background-color: gray;
    text-align: center;
    align-items: center;

    p {
        flex: 1;
    }

    .footer-icon {
        flex: 1;
    }

    nav {
        flex: 3;
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;
        flex: 1;
    }
}

@media screen and (max-width: 800px) {
    body {
        width: 375px;
        overflow-x: hidden;
        margin: 0 auto;
    }

    header {
        .header-rigth-icon {
            i {
                display: none;
            }
        }
    }

    .menu-bar {
        display: none;
    }

    .menu-img {
        height: 300px;

        .menu-img-left {
            img {
                width: 100%;
                height: 300px;
            }
        }

        .menu-img-right {
            display: none;

            img {
                display: none;
            }
        }
    }

    .section1 {
        display: block;

        .section1-img {
            margin: 0;
            margin-top: 20px;

            img {
                width: 100%;
            }
        }
    }

    .section2 {
        .section2-content {
            display: block;

            .news-menu {
                order: ;
                .btn.section2-btn {
                   writing-mode: vertical-tb;
                }

                ul {
                    display: none;
                }
            }

            .section2-content-box {
                margin: 0;
                
            }
        }
    }

    .section3 {
        .section3-content {
            width: 350px;
        }

        .section3-content-box {
            .pick-box {
                width: 347px;
                margin: 0;
                padding: 0;
            }
        }
    }

    .section4 {
        .section4-subtitle {
            .cliant-logo {
                padding-left: 10px;
                justify-content: space-between
                img {
                    width: 100px;
                    margin-right: 10px;
                    margin-top: 10px;
                }
            }
        }
    }

    aside {
        display: block;
        justify-content: center;

        .conpany-detile{
            margin-left: 20px;    
        }

        .aside-icon {
            margin-left 20px
            i {
                align-items: center;
            }
        }
    }

    footer {
        flex-direction: column-reverse;

        ul {
            display: block;
            padding-left 0;
        }
    }
}