<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Herointerview
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
    body
        header
            .header-icon
                i.fas.fa-bars.fa-2x
                p Herointerview
                .rigth-icon
                    i.fab.fa-twitter.fa-2x
                    i.fab.fa-facebook-f.fa-2x
                    i.fab.fa-youtube.fa-2x
           
        main
            .menu-bar
                    nav
                        a(href="#", title="title") ニュース
                        a(href="#", title="title") チーム検索
                        a(href="#", title="title") アプリ
                        a(href="#", title="title") 問い合わせ

            //- img(src="#", alt="")
            .menu-img         
            //- who we are
            .section1
                .section-title WHO WE ARE
                .section1-content
                    .section-left
                        h2 頑張る若者<br>皆んなが<br>
                            span ヒーロー
                        p Be in the spotligth
                        .btn.section1-btn
                            p ヒーローインタビューとは

                    //- img(src="#", alt="")
                    .section1-img
            //- news
            .section2
                .section-title NEWS
                .section2-content
                    .section2-subtitle
                        h2 Those Who
                        h2 fight Further
                        .news-menu
                            .btn.section2-btn More
                            ul
                                li 全ての情報
                                li 試合結果
                                li インタビュー
                                li むーたくんTV
                                li その他
                    .section2-content-box
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                    
            
            //- pick up
            .section3
                .section-title PICK UP TEAME
                .section3-subtitle
                    h2 The powaer of 
                        span Teamwork .py team
                .section3-content
                    .pick-box
                        img(src="#", alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="#", alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="#", alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="#", alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="#", alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="#", alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="#", alt="")
                        p 記事タイトルが入ります

                .btn.section3-btn
                        p チームをもっと見る
                
            //- cliant
            .section4
                .section-title CLIANT
                .section4-subtitle
                    h2 Act with own Heart and Mind
                    .cliant-logo
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
                    img(src="#", alt="")
            
            //- 会社情報
            aside
                h2 Herointerview
                .conpany-detile
                    h2 神戸本社
                    h2 神戸市中央区磯辺通3-2-17 ワールド三宮ビル6階
                .aside-icon
                    i.fas.fa-map-marker-alt.fa-lg View on Google Map
                    i.fas.fa-mobile-alt.fa-2x 078-200-2022
                    i.fas.fa-download.fa-2x Download the App

    footer
        p ©2018 Herointerview
        .footer-icon
            i.fab.fa-twitter
            i.fab.fa-facebook-f
            i.fab.fa-youtube
        nav
            ul
                li Home
                li ニュース
                li 試合結果
                li チーム検索・登録
                li アプリ
