<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Herointerview
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
    body
        header
            .header-icon
                i.fas.fa-bars.fa-2x
                p Herointerview
                .rigth-icon
                    i.fab.fa-twitter.fa-2x
                    i.fab.fa-facebook-f.fa-2x
                    i.fab.fa-youtube.fa-2x

        main
            .menu-bar
                nav
                    a(href="#" title="title") ニュース
                    a(href="#" title="title") チーム検索
                    a(href="#" title="title") アプリ
                    a(href="#" title="title") 問い合わせ

            //- img(src="#" alt="")
            .menu-img
                .menu-img-side 
                    img( id side1 src="img/sideimg1.jpg" alt="")  
                .section1-sideimg
                    img(src="img/sideimg2.jpg" alt="")
                    img(src="img/sideimg3.jpg" alt="")
                    img(src="img/sideimg4.jpg" alt="")      
                    img(src="img/sideimg2.jpg" alt="")      
                    img(src="img/sideimg3.jpg" alt="")      
            //- who we are
            .section1
                .section-title WHO WE ARE
                .section1-content
                    .section-left
                        h2 頑張る若者
                        h2.left 皆んなが<span>-</span>
                        h2.rigth <span>-</span>ヒーロー
                        p Be in the spotligth
                        .btn.section1-btn
                            p ヒーローインタビューとは

                    //- img(src="#" alt="")
                    .section1-img
                        img(src="img/sample1.png" alt="")

            //- news
            .section2
                .section2-content
                    .section2-title
                        p NEWS
                        .section2-subtitle
                            h2 Those Who
                            h2 fight Further
                            .news-menu
                                .btn.section2-btn More
                                ul
                                    li.top 全ての情報
                                    li 試合結果
                                    li インタビュー
                                    li むーたくんTV
                                    li その他
                    .section2-content-box
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない
                        .news-box
                            .topic
                                .section2-img
                                h3
                                    i.fas.fa-tag special
                                    p ヒーローインタビューコカ・コーラ
                                p マネージャーは裏方じゃないマネージャーは裏方じゃないマネージャーは裏方じゃない


            //- pick up
            .section3
                .section-title PICK UP TEAME
                .section3-subtitle
                    h2 The powaer of 
                        span Teamwork .py team
                .section3-content
                    .pick-box
                        img(src="img/section3-img.jpg" alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="img/section3-img.jpg" alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="img/section3-img.jpg" alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="img/section3-img.jpg" alt="")
                        p 記事タイトルが入ります
                    .pick-box
                        img(src="img/section3-img.jpg" alt="")
                        p 記事タイトルが入ります
                    .pick-box.logo
                        img(src="img/logo.png" alt="")
                        p 記事タイトルが入ります

                .btn.section3-btn
                    p チームをもっと見る

            //- cliant
            .section4
                .section-title CLIANT
                .section4-subtitle
                    h2 Act with own Heart and Mind
                    ul.cliant-logo 
                        img(src="img/yomiuri.png" alt="")
                        img(src="#" alt="Asics" )
                        img(src="img/s_authority.png" alt="" )
                        img(src="img/bellemaison.png" alt="" )
                        img(src="img/bestoen.png" alt="" )
                        img(src="img/eccjr.png" alt="" )
                        img(src="img/union.png" alt="" )
                        img(src="img/sanko.png" alt="" )
                        img(src="img/sagawa.png" alt="" )
                        img(src="img/aoyama.png" alt="" )
                        img(src="img/livemax.png" alt="" )
                        img(src="img/senko_logo.png" alt="" )
                        img(src="img/fukuya.png" alt="" )
                        img(src="img/shaball.png" alt="" )
                        img(src="img/osho.png" alt="" )
                        img(src="img/visionup.png" alt="" )
                        img(src="img/utamaro.png" alt="" )
                        img(src="img/p-and-p.png" alt="" )
                        img(src="img/sas.png" alt="" )
                        img(src="img/abest.png" alt="" )
                        img(src="img/src.png" alt="" )
                        img(src="img/raq.png" alt="" )
                        img(src="img/marukyo.png" alt="" )
                        img(src="img/yaokin.png" alt="" )
                        img(src="img/aiaio.png" alt="" )
                        img(src="img/mk.png" alt="" )
                        img(src="img/naigai.png" alt="" )
                        img(src="img/matsushita.png" alt="" )
                        img(src="img/kamadoya.png" alt="" )
                        img(src="img/oriba-.png" alt="" )
                        img(src="img/dc.png" alt="" )
                        img(src="img/printcarry.png" alt="" )
                        img(src="img/oriba-.png" alt="" )
                        img(src="img/sys.png" alt="" )
                        img(src="img/g-try.png" alt="" )
                        img(src="img/fukuda.png" alt="" )
                        img(src="img/hotelplazaosaka.png" alt="" )
                        img(src="img/artjoy.png" alt="" )
                        img(src="img/boltonplus_logo.png" alt="" )
                        img(src="img/maruichi.png" alt="" )
                        img(src="img/cleanup.png" alt="" )
                        img(src="img/heartland.png" alt="" )
                        img(src="img/kanpo_logo.png" alt="" )
                        img(src="img/maruyama_logo.png" alt="" )
                        img(src="img/purina_logo.png" alt="" )
                        img(src="img/senko_logo.png" alt="" )
                        img(src="img/worklifecare_logo.png" alt="" )
                        img(src="img/sugiyama_logo.png" alt="" )
                        img(src="img/boltonplus_logo.png" alt="" )
                        img(src="img/kazeno.png" alt="" )
                        img(src="img/tintai.png" alt="" )
                        img(src="img/petabit.png" alt="" )
                        img(src="#" alt="juteru" )
                        img(src="#" alt="JVC" )

            //- 会社情報
            aside
                .aside-subtitle
                    h2 Herointerview
                .conpany-detile
                    p 神戸本社
                    p 〒651-0084
                    p 神戸市中央区磯辺通3-2-17 ワールド三宮ビル6階
                .aside-icon
                    i.fas.fa-map-marker-alt.fa-lg 
                        p View on Google Map
                    i.fas.fa-mobile-alt.fa-lg 
                        p 078-200-2022
                    i.fas.fa-download.fa-lg 
                        p Download the App

    footer
        p ©2018 Herointerview
        .footer-icon
            i.fab.fa-twitter
            i.fab.fa-facebook-f
            i.fab.fa-youtube
        nav
            ul
                li Home
                li ニュース
                li 試合結果
                li チーム検索・登録
                li アプリ
