<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/wire.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
        title wire
    body
        header
            .header-icon
                i.fas.fa-bars.fa-2x
                p Herointerview
                .rigth-icon
                    i.fab.fa-twitter.fa-2x
                    i.fab.fa-facebook-f.fa-2x
                    i.fab.fa-youtube.fa-2x
        
            .menu-bar
                    nav
                        a(href="#", title="title") ニュース
                        a(href="#", title="title") チーム検索
                        a(href="#", title="title") アプリ
                        a(href="#", title="title") 問い合わせ

        aside
            img(src="img/ad.jpg", alt="")
                .side-img
                    img(src="img/sideimg1.jpg", alt="")
                    img(src="img/sideimg2.jpg", alt="")
                    img(src="img/sideimg3.jpg", alt="")
                    img(src="img/sideimg4.jpg", alt="")


        main  
            //- news
            .section1
                h1.title news
                .nenu-bar
                    ul
                        li 全て
                        li 試合結果
                        li インタビュー
                        li その他
                .content    
                    ul
                        li 最新情報が入ります
                        li 最新情報が入ります
                        li 最新情報が入ります
                        li 最新情報が入ります
                        li 最新情報が入ります
                        li 最新情報が入ります
                        li 最新情報が入ります
                        li 最新情報が入ります
                        li 最新情報が入ります
                        li 最新情報が入ります
            .section2
                h1.title
                p 頑張る若者、みんながヒーロー（キャッチフレーズが入ります）
                .section2-btn
                    p ヒーローインタビューとは


            .section3
                h1.title
                .pick-box
                        img(src="#", alt="チーム写真")
                        p キャッチフレーズ
                .pick-box
                        img(src="#", alt="チーム写真")
                        p キャッチフレーズ
                .pick-box
                        img(src="#", alt="チーム写真")
                        p キャッチフレーズ
                .pick-box
                        img(src="#", alt="チーム写真")
                        p キャッチフレーズ
                .pick-box
                        img(src="#", alt="チーム写真")
                        p キャッチフレーズ
                .pick-box
                        img(src="#", alt="チーム写真")
                        p キャッチフレーズ
                .pick-box
                        img(src="#", alt="チーム写真")
                        p キャッチフレーズ
        footer
            p ©2018 Herointerview
            .footer-icon
                i.fab.fa-twitter
                i.fab.fa-facebook-f
                i.fab.fa-youtube
            nav
                ul
                    li Home
                    li ニュース
                    li 試合結果
                    li チーム検索・登録
                    li アプリ